<!-- Header Section -->
<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success">
        <!-- Container for the navigation content -->
        <div class="container-fluid">
            <!-- Brand/Logo Link -->
            <a class="navbar-brand" href="/index.html">SafeGuard Web Tools</a>
            <!-- Navbar Toggler Button (for mobile view) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- Collapsible Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Unordered List for Navigation Links -->
            <ul class="navbar-nav">
                <!-- Active Navigation Item (Home) -->
                <li class="nav-item active">
                    <a class="nav-link" href="/index.html">Home </a>
                </li>
                <!-- Navigation Item (Pager Ruler) -->
                <li class="nav-item">
                    <a class="nav-link" href="/plugins/ruler/ruler.html">Pager Ruler</a>
                </li>
                <!-- Navigation Item (Colour Finder) -->
                <li class="nav-item">
                    <a class="nav-link" href="/plugins/hexcode/hexcode.html">Colour Finder</a>
                </li>
                <!-- Navigation Item (Font Finder) -->
                <li class="nav-item">
                    <a class="nav-link" href="/plugins/fonts/fonts.html">Font Finder</a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<!-- Empty Div for Spacing -->
<div class="mx-auto" style="height: 75px;"></div>