<!-- Empty Div with Centered Alignment -->
<div class="mx-auto" style="height: 50px; width: 500px;"></div>

<!-- Footer Section -->
<footer class="footer bg-light text-center text-lg-start">
    <!-- Footer Content Container with Background Color -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <!-- Copyright Information -->
        <p style="text-align: center">
            &copy; 2014-<span id="currentYear"></span> <!-- Display the current year dynamically -->
            <a class="text-dark" href="https://safeguardhosting.ca">SafeGuard Hosting</a> <!-- Link to SafeGuard Hosting -->
        </p>
    </div>
</footer>

